# Consider the following program and outputs

In [69]:
marks = {}
# marks is a dictionary with the
# Stundent number as key, with a 
# set of three test results as the value
marks["18001"] = (80, 75, 45)
marks["18541"] = (32, 51, 89)
marks["18042"] = (75, 74, 73)
marks["18999"] = (23, 84, 89)
marks["18720"] = (52, 61, 43)

names = {}
names["18001"] = "Joe"
names["18541"] = "Vuyo"
names["18042"] = "George"
names["18999"] = "Kabelo"
names["18720"] = "Ulrik"

In [70]:
marks

{'18001': (80, 75, 45),
 '18042': (75, 74, 73),
 '18541': (32, 51, 89),
 '18720': (52, 61, 43),
 '18999': (23, 84, 89)}

In [63]:
for student, results in marks.items():
    print student, ":", sum(results)/3

18042 : 74
18541 : 57
18001 : 66
18720 : 52
18999 : 65

In [64]:
len(marks)

5

In [65]:
marks['18720'][1]

61

In [78]:
names

{'18001': 'Joe',
 '18042': 'George',
 '18541': 'Vuyo',
 '18720': 'Ulrik',
 '18999': 'Kabelo'}

In [77]:
for stdNum, name in names.items():
    if name == "Vuyo":
        print stdNum

18541

In [82]:
for stdNum, name in names.items():
    print name, marks[stdNum], sum(marks[stdNum])/3.0

George (75, 74, 73) 74.0
Vuyo (32, 51, 89) 57.3333333333
Joe (80, 75, 45) 66.6666666667
Ulrik (52, 61, 43) 52.0
Kabelo (23, 84, 89) 65.3333333333

# Now answer the following:

Calculate the class average to two deciaml places

In [88]:
total = 0
for stdNum, name in names.items():
    total += sum(marks[stdNum])/3.0
average = total / len(names)
print average

63.0666666667

Print a list of student names who achieved above avergae results

How would we check that we have a and equal number of names and marks?

In [90]:
print len(marks) == len(names)

True

A Question

How would we print the third test mark for the student with student number "18999"?

In [89]:
marks['18999'][2]

89