# Numbers
Numbers are either integers or floating point values.

Because Python is dynamically cast, we dont need to declare variable types.

In [14]:
# Basic number variables
a = 2   # an integer
b = 2.0 # a float
c = 3   # another integer
d = 5.0 # another float

In [15]:
a + c # integer addition

5

In [16]:
b + d # float addition

7.0

In [17]:
a + b # mixed addition

4.0

In [18]:
a - c # subtraction

-1

In [19]:
a / c # integer division

0

In [20]:
b / d # float division

0.4

In [21]:
a / b # mixed division

1.0

In [22]:
a * b # multiplication

4.0

In [23]:
# exponent
# 2 to the power of 3
a ** b

4.0

The math module is always avaible, and contains all the usual operations.

https://docs.python.org/2/library/math.html

# Strings

In [27]:
name = "Craig"
surname = 'Marais'
name + surname

'CraigMarais'

In [30]:
name.lower(), surname.upper()

('craig', 'MARAIS')

In [32]:
surname[0], ord(surname[0])

('M', 77)

In [40]:
ord("c"), ord("a"), ord("t")

(99, 97, 116)

In [47]:
pet = chr(99) + chr(97) + chr(116)
print pet

cat

Uses the extended ascii table (http://www.asciitable.com/)

# Print Statements
Python 2.7 and 3.x implement print slightly differently.

3.x would use:
print("Hello World")

In [62]:
print "Hello World"

Hello World

In [63]:
print "These are my words"

These are my words

In [64]:
print "These", "are", "my", "words",

These are my words

In [66]:
print "These"
print "are"
print "my"
print "words"

These
are
my
words

In [67]:
print "These",
print "are",
print "my",
print "words",

These are my words

In [73]:
words = "These", "are", "my", "words"
print words

('These', 'are', 'my', 'words')

tuple

In [71]:
for word in words:
    print word

These
are
my
words

In [72]:
for word in words:
    print word,

These are my words

# Lists
List are constructed using square brackets [], list items are mutable.

In [99]:
myList = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
print myList
print len(myList)
print myList[0]
print myList[7:10]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
26
a
['h', 'i', 'j']

In [85]:
myNewList = ["four", "4", 4, 4.0]
print myNewList

['four', '4', 4, 4.0]

In [89]:
combinedList = myList + myNewList
print combinedList

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'four', '4', 4, 4.0]

In [91]:
anotherList =  ["a","b","c","d","e"]
print anotherList
anotherList[2] = "I changed this"
print anotherList

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'I changed this', 'd', 'e']

# Tuples & Sets
A series of objects (immutable)

In [103]:
cat = "Fluffy", "Animal", 42643
print cat
print len(cat)
print cat[0]
print cat[0][0]

('Fluffy', 'Animal', 42643)
3
Fluffy
F

# Dictionaries
key-value pairs

In [114]:
pets  = {}
pets["Fluffy"] = "cat"
pets["Spot"] = "dog"
pets["Mr Bigglesworth"] = "cat"
for name, animal in pets.items():
    print "My pet named " + name + " is a " + animal + "."

My pet named Mr Bigglesworth is a cat.
My pet named Fluffy is a cat.
My pet named Spot is a dog.

In [118]:
pet = "Spot"
if pet in pets:
    print "We found " + pet + " in pets and it is a " + pets["Spot"]

We found Spot in pets and it is a dog

# Booleans & Comparisons

In [121]:
True and False

False

In [123]:
True or False

True

In [128]:
pets.has_key("Fluffy") & (pets["Fluffy"] == "cat")

True

In [132]:
# Boolean short-circuit
# equates to: b if a, otherwise a
pets.has_key("Fluffikins") and (pets["Fluffikins"] == "cat")

False