# Consider the following program and outputs:

In [1]:
marks = {}
# marks is a dictionary with the
# Stundent number as key, with a 
# set of three test results as the value
marks["18001"] = (80, 75, 45)
marks["18541"] = (32, 51, 89)
marks["18042"] = (75, 74, 73)
marks["18999"] = (23, 84, 89)
marks["18720"] = (52, 61, 43)

names = {}
# marks is a dictionary with the
# Stundent number as key, and  
# the student's firstname as the value
names["18001"] = "Joe"
names["18541"] = "Vuyo"
names["18042"] = "George"
names["18999"] = "Kabelo"
names["18720"] = "Ulrik"

In [2]:
marks

{'18001': (80, 75, 45),
 '18042': (75, 74, 73),
 '18541': (32, 51, 89),
 '18720': (52, 61, 43),
 '18999': (23, 84, 89)}

In [3]:
for student, results in marks.items():
    print student, ":", sum(results)/3

18042 : 74
18541 : 57
18001 : 66
18720 : 52
18999 : 65

In [4]:
len(marks)

5

In [5]:
marks['18720'][1]

61

In [6]:
names

{'18001': 'Joe',
 '18042': 'George',
 '18541': 'Vuyo',
 '18720': 'Ulrik',
 '18999': 'Kabelo'}

In [7]:
for stdNum, name in names.items():
    if name == "Vuyo":
        print stdNum

18541

In [8]:
for stdNum, name in names.items():
    print name, marks[stdNum], sum(marks[stdNum])/3.0

George (75, 74, 73) 74.0
Vuyo (32, 51, 89) 57.3333333333
Joe (80, 75, 45) 66.6666666667
Ulrik (52, 61, 43) 52.0
Kabelo (23, 84, 89) 65.3333333333

# Answer the following by providing source code:

### Question 1: 
What version of Python are you running?

### Question 2: 
Output the third test mark for the student with student number "18999".

### Question 3: 
Output the name of the student with student number "18999".

### Question 4: 
How would we check that we have a and equal number of names and marks?

### Question 5:
Calculate the class average to two decimal places.

### Question 6:
Print a list of student names who achieved above average results

### Question 7:
How would you modify the inital data structures to accomodate storing the last names of students?

### Question 8:
How does you answer to question 7 affect you previous answer?

You may answer with source code and/or a discussion.